In [1]:
import pandas as pd
import numpy as np
import os
import datetime
import strgen
%config IPCompleter.greedy=True

In [2]:
path = os.getcwd()
os.listdir()

['.ipynb_checkpoints',
 '2013_2016TAs.ipynb',
 'CEC_2018.ipynb',
 'DailyWO.csv',
 'Enmax_Shepherd.ipynb',
 'hist_TAs.ipynb',
 'sheerness_2017.ipynb',
 'ShepDaily.csv']

In [3]:
path = "C:\\Users\\chris\\OneDrive - Irwin's Safety and Industrial Labour Services Ltd\\Irwins"
raw = pd.read_csv(path+'\\raw_inputs\\Total Validated Data-2013-2016.csv')
raw.columns
raw['clean_date'] = pd.to_datetime(raw['Date.(M/D/YY)'],dayfirst=True)
raw['csas_id']=strgen.StringGenerator("[\d]{10}").render_list(len(raw),unique=True)

In [4]:
df = raw[['csas_id','clean_date', 'Code.of.Practice', 'SHIFT.D/N', 'TOTAL.#.OF.CREW',
       'Idle.Time.(min)', 'Down.Time.(min)', 'Wait.Time.(min)',
       'Tool.Time.(min)','company', 'project',
       'Year','Idle_Code', 'Down_Code', 'Wait_Code']]

In [5]:
df.columns=['csas_id','clean_date', 'Code of Practice', 'Shift', 'Number of Crews',
       'Idle.Time.(min)', 'Down.Time.(min)', 'Wait.Time.(min)',
       'Tool.Time.(min)','company', 'project',
       'year','Idle_Code', 'Down_Code', 'Wait_Code']

In [6]:
pd.DataFrame(list(df.columns))

                   0
0            csas_id
1         clean_date
2   Code of Practice
3              Shift
4    Number of Crews
5    Idle.Time.(min)
6    Down.Time.(min)
7    Wait.Time.(min)
8    Tool.Time.(min)
9            company
10           project
11              year
12         Idle_Code
13         Down_Code
14         Wait_Code

In [7]:
li = []
timephase_dict = {0:'StartLessOpen',1:'OpenLessArriv',2:'ArrivLessSched',3:'StopLessStart'}
for i in range(5,9):
    if i == 8:
        colnums = [0,1,2,3,4,8,9,10,11]
        mydf = df.iloc[:,colnums].copy()
        mydf['Tool_Code'] = ""
    else:
        colnums = [0,1,2,3,4,i,9,10,11,i+7]
        mydf = df.iloc[:,colnums].copy()
    mydf['time_phase'] = i-5
    mydf['time_phase'] = mydf['time_phase'].map(timephase_dict)
    mydf.head()
    # re-name columns
    mydf.columns = ['csas_id','clean_date', 'Code of Practice', 'Shift', 'Number of Crews',
       'duration', 'company', 'project', 'year', 'WT/DT Cause Code',
       'time_phase']
    mydf['duration']=mydf['duration']/60
    li.append(mydf)

In [8]:
hist_stack = pd.concat(li)
hist_stack['Number of Crews'].replace('4+',4,inplace=True)
hist_stack['Number of Crews']=hist_stack['Number of Crews'].astype('float')

In [9]:
hist_stack.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20044 entries, 0 to 5010
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   csas_id           20044 non-null  object
 1   clean_date        20044 non-null  datetime64[ns]
 2   Code of Practice  20044 non-null  object
 3   Shift             19516 non-null  object
 4   Number of Crews   19992 non-null  float64
 5   duration          19910 non-null  float64
 6   company           20044 non-null  object
 7   project           20044 non-null  object
 8   year              20044 non-null  int64
 9   WT/DT Cause Code  20041 non-null  object
 10  time_phase        20044 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(7)
memory usage: 1.8+ MB

In [10]:
hist_stack['WT/DT Cause Code'].replace('0',np.nan,inplace=True)
hist_stack['WT/DT Cause Code'].replace('',np.nan,inplace=True)
hist_stack['WT/DT Cause Code'].replace('GT/TB','GT',inplace=True)
hist_stack['WT/DT Cause Code'] = hist_stack['WT/DT Cause Code'].str.strip()
hist_stack['WT/DT Cause Code'].value_counts()

SB      1377
GT       820
S        582
CD       370
C        222
EF        50
NW        23
PE        19
L         13
I          7
XRAY       7
AA         2
D          2
EV         1
Name: WT/DT Cause Code, dtype: int64

In [11]:
# Create a new columns that picks nonwork code based on cause code and not phase
condlist = [(hist_stack['time_phase']=='StopLessStart') & (hist_stack['duration']!=0),
             hist_stack['WT/DT Cause Code'].isin(['GT','C','EF','L']),
             hist_stack['WT/DT Cause Code'].isin(['EV','PE','CD','ME','V','IN']),
             hist_stack['WT/DT Cause Code'].isin(['S','NW','I','SB','AA']),
            (pd.isnull(hist_stack['WT/DT Cause Code']))&(hist_stack['duration']!=0)
           ]
choicelist = ['tool_time','wait_time','down_time','idle_time','nonwork_time']
hist_stack['code_phase'] = np.select(condlist,choicelist)
hist_stack['code_phase'].replace('0',np.nan,inplace=True)
# replace an entry of 'Shift' with day

In [12]:
hist_stack['person_hours'] = hist_stack['duration']*hist_stack['Number of Crews']

In [13]:
hist_stack.to_csv(path+'\\output\\2013_2016.csv',index=False)
hist_stack.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20044 entries, 0 to 5010
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   csas_id           20044 non-null  object
 1   clean_date        20044 non-null  datetime64[ns]
 2   Code of Practice  20044 non-null  object
 3   Shift             19516 non-null  object
 4   Number of Crews   19992 non-null  float64
 5   duration          19910 non-null  float64
 6   company           20044 non-null  object
 7   project           20044 non-null  object
 8   year              20044 non-null  int64
 9   WT/DT Cause Code  3495 non-null   object
 10  time_phase        20044 non-null  object
 11  code_phase        11579 non-null  object
 12  person_hours      19864 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(8)
memory usage: 2.1+ MB

In [14]:
hist_stack['WT/DT Cause Code'].value_counts()

SB      1377
GT       820
S        582
CD       370
C        222
EF        50
NW        23
PE        19
L         13
I          7
XRAY       7
AA         2
D          2
EV         1
Name: WT/DT Cause Code, dtype: int64